exportPattern("^[[:alpha:]]+")
importFrom("stats", "chisq.test", "fisher.test", "lm")
importFrom("utils", "read.table", "write.table")
importFrom("utils", "read.csv")
importFrom("magrittr", "%>%")
importFrom("dplyr", "mutate", "arrange", "left_join", "group_by", "select", "summarise", "summarize")
importFrom("ggplot2", "aes", "theme_bw", "theme", "element_blank")
importFrom("grDevices", "dev.off", "pdf")
